<section class="chatBot-container">
    <header>
        <h1>Chatbot</h1>
    </header>
    <section>
        <ul class="messages-container">
            <li *ngFor="let message of messages" class="message"
                [ngClass]="{ 'user': message.by == 'user', 'system': message.by == 'system'}" 
                >
                {{message.text}}
            </li>
        </ul>
        <div class="write-zone-container">
            <textarea placeholder="..." [(ngModel)]="actualMessage"></textarea>
            <span (click)="submit()">></span>
        </div>
    </section>
</section>