* {
    --main-color: #FFD101;
    --primary-gray: #F6F6F7;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.chatBot-container {
    width: 440px;
    height: 80vh;
    margin-inline: auto;
    box-shadow: 0 0 128px 0 rgb(0,0,0,1)
        0 32px 64px -48px rgb(0,0,0,0.5);
    margin-top: 40px;
    font-size: 1.4rem;
    border-radius: 20px;
    overflow: hidden;
    header {
        background-color: var(--main-color);
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 { height: fit-content; }
    }
    section {
        height: calc(100% - 100px);
        background-color: white;
        ul.messages-container {
            height: 90%;
            padding: 20px 0 0 0;
            box-sizing: border-box;
            list-style: none;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            li.system {                
                background-color: var(--primary-gray);
                width: fit-content;
                border-radius: 0 10px 10px;
                margin: 0 10px 10px;
                padding: 10px 20px;
                color: #1B1B20;
                align-self: flex-start;
            }
            li.user {                
                background-color: var(--main-color);
                width: fit-content;
                border-radius: 10px 10px 0;
                margin: 0 10px 10px;
                padding: 10px 20px;
                color: black;
                align-self: flex-start;
                align-self: flex-end;
            }
            span.indicator {
                display: flex;
                gap: 5px;
                margin-inline: 10px;
                div {
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                }
                .indicator-1 {
                    animation: move 600ms infinite;
                }
                .indicator-2 {
                    animation: move 600ms infinite;
                    animation-delay: 700ms;
                }
                .indicator-3 {
                    animation: move 600ms infinite;
                    animation-delay: 1s;
                }
            }
            span.user {
                align-self: flex-end;
                div {
                    background-color: var(--main-color);
                }
            }
            span.system {
                align-self: flex-start;
                div {
                    background-color: var(--primary-gray);
               }
            }
        }
        div.write-zone-container {
            height: 10%;
            width: 100%;
            background-color: white;
            border-top: 1px solid #ccc;
            display: flex;
            textarea {
                width: 80%;
                height: 100%;
                padding: 16px;
                box-sizing: border-box;
                border: none;
                resize: none;
                outline: none;
                font-size: 1.1rem;
            }
            span {
                width: 10%;
                height: 100%;
                display: flex;
                align-items: center;
            }
            span:hover {
                cursor: pointer;
            }
            span.borrar {
                font-size: 0.8rem;
            }
        }
    }
}
div.save-log {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    button {
        height: 60px;
        width: fit-content;
        padding: 10px 15px;
        border-radius: 20px;
        border: none;
        outline: none;
        background-color: var(--main-color);
    }
    button:hover {
        cursor: pointer;
    }
}

@keyframes move {
    25% {
        transform: translateY(3px);
    }
    75% {
        transform: translateY(-3px);
    }
    0%, 50%, 100% {
        transform: translateY(0);
    }
}